*{
    background: #ffffff;
    color: #000000;

    margin: 0 0 0 10 auto;
    padding: 0;
}

header{
    border: 1px solid #868686;
    margin: 0 0 50px 0;

    display: flex;
}
footer{
    text-align: center;
    margin: 50px 0 0 0;
    border: 1px solid #7a7a7a;
}